<app-gestor-header></app-gestor-header>>
<div class="container mt-5">

    <div class="text-center mb-5">
        <h2 class="mb-3">Bienvenido</h2>
        <p class="lead">¡Hola, <strong>{{ username }}</strong>!</p>
    </div>

    <div class="row">
        <div class="col-lg-6 mb-4">
            <div class="card h-100 shadow-sm">
                <div class="card-body">
                    <h3 class="card-title">Turnos atendidos:</h3>

                </div>
            </div>
        </div>

    </div>

    <div class="mt-4 text-center">
        <button class="btn btn-outline-danger" (click)="logout()">Cerrar sesión</button>
    </div>
</div>