<app-header></app-header>

<div class="container">
    <h2>Agregar un usuario</h2>
    <form (ngSubmit)="onSubmit()" #userForm="ngForm">

        <!-- Username -->
        <div class="form-group">
            <label for="username">Usuario:</label>
            <input type="text" class="form-control" id="username" [(ngModel)]="user.username" name="username" required>
        </div>

        <!-- Email -->
        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" class="form-control" id="email" [(ngModel)]="user.email" name="email" required>
        </div>

        <!-- Contrasena -->
        <div class="form-group">
            <label for="password">Contraseña:</label>
            <input type="password" class="form-control" id="password" [(ngModel)]="user.password" name="password"
                required>
        </div>

        <!-- Rol -->
        <div class="form-group">
            <label for="role">Rol:</label>
            <select class="form-control" id="role" [(ngModel)]="user.rolId" name="rol" required>
                <option *ngFor="let role of roles" [value]="role.rolId">{{ role.rolName }}</option>
            </select>

        </div>

        <button type="submit" class="btn btn-success">Agregar usuario</button>
    </form>
</div>