<app-header></app-header>

<div class="container">
    <div *ngIf="message" class="alert alert-success">{{ message }}</div>
    <h3>Lista de Usuarios</h3>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre de Usuario</th>
                <th>Email</th>
                <th>Rol</th>

            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of users">
                <td>{{user.userId}}</td>
                <td>{{user.username}}</td>
                <td>{{user.email}}</td>
                <td>{{user.rol.rolName}}</td>

            </tr>
        </tbody>
    </table>
</div>