<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand">Bienvenido</a>
        </div>
        <div class="navbar-default">
            <ul class="nav navbar-nav">
                <li routerLinkActive="active"><a routerLink="/welcome">Inicio</a></li>
                <li routerLinkActive="active"><a routerLink="/dashboard">Dashboard</a></li>
                <li routerLinkActive="active"><a routerLink="/admin-users">Gestión usuarios</a></li>
            </ul>

        </div>
    </div>
</nav>